name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build-linux:
    name: Build NixOS System (${{ matrix.host }})
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        host: [atlas, hercules, chronos]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            experimental-features = nix-command flakes

      - name: Build System
        run: nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel --accept-flake-config

  build-darwin:
    name: Build Darwin System (${{ matrix.host }})
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        host: [discordia]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            experimental-features = nix-command flakes

      - name: Build System
        run: nix build .#darwinConfigurations.${{ matrix.host }}.system --accept-flake-config

  check-packages:
    name: Check Packages (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            experimental-features = nix-command flakes

      - name: Check Flake
        run: nix flake check --accept-flake-config
